<div class="container-fluid p-0 overflow-x-hidden">
    <div class="row vh-100 ">
        <div class="col-xs-12 col-md-8 position-relative">
            <h1 class="position-absolute text-white  fw-bolder text-13 my-4 text-center ">
                To keep connected with largest shop in the world.
            </h1>
            <img src="../../../../assets/images/login-bg.jpg" alt="login-bg" class="w-100 h-100" style="object-fit: cover;">
        </div>
        <div class="col-xs-12 col-md-4">
                <div class="pt-4 px-5">
                    <a class="fs-4 text-decoration-none">
                        <span class="color-link fw-bolder">Trendzy</span>
                        <i class="fa-solid fa-cart-shopping text-main ms-1"></i>
                    </a>
                </div>
                <form  class="p-5 "[formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <h3 class="text-13 mb-4">
                        Sign Up
                    </h3>
                    <div class="mb-3">
                        <label for="name" class="mb-2">Full Name</label>
                        <div class="position-relative">
                            <input type="text" id="name" class="input" placeholder="Full Name" formControlName="name">
                            <i class="fa-solid fa-user symbol"></i>                    
                       </div>
                       
                       @if(registerForm.get('name')?.errors && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty)){
                        <small class="d-block text-danger ">
                            @if(registerForm.get('name')?.getError('required')){
                                <span>
                                    Name field is required
                                </span>
                            }@else if(registerForm.get('name')?.getError('minlength')){
                                <span>
                                    Name must be greater than 5 character
                                </span>
                            }
                        </small>
                       }
                    
                    </div>
                    <div class="mb-3">
                        <label for="email" class="mb-2">Email Address</label>
                        <div class="position-relative">
                            <input type="email" id="email" class="input" placeholder="Email or Username" formControlName="email">
                            <i class="fa-solid fa-envelope symbol"></i>
                        </div>
                        @if(registerForm.get('email')?.errors && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)){
                            <small class="d-block text-danger">
                            @if(registerForm.get('email')?.getError('required')){
                                <span>
                                    Email is required
                                </span>
                            }@else if(registerForm.get('email')?.getError('email')){
                                <span>Email is not valid</span>
                            }
                            </small>
                        }
                    </div>
                    <div class="mb-3">
                        <label for="password" class="mb-2">Password</label>
                        <div class="position-relative">
                            <input [type]="isVisiable()?'text':'password'" id="password" class="input" placeholder="Password" formControlName="password">
                            <i class="fa-sharp-duotone fa-solid  symbol " [ngClass]="isVisiable()? 'fa-eye':'fa-eye-slash'" style="cursor: pointer;" (click)="visiableControl()"></i>
                       </div>
                       @if(registerForm.get('password')?.errors && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)){
                        <small class="d-block text-danger">
                            @if(registerForm.get('password')?.getError('required')){
                                <span>
                                    Password is required
                                </span>
                            }@else if(registerForm.get('password')?.getError('minlength')){
                                <span>
                                    password must be at least 5 word
                                </span>
                            }
                        </small>
                       }
                    </div>
                        <div class="d-flex align-items-center mb-3">
                            <input type="checkbox" name="policy" id="policy" class="me-1">
                            <label for="policy">I agree to the <span class="text-primary">Terms</span> and <span class="text-primary">Privacy</span>.</label>
                        </div>
                    <div class="mb-3">
                        <button class="btn btn-dark text-white " type="submit">
                            Sign Up
                        </button>
                        @if (errorMsg()) {
                            <small class="d-block text-danger py-1">
                              {{errorMsg()}}
                            </small>
                          }
                    </div>
                    <div class="mb-3 text-center" >
                        Already a member ? <a class="text-primary text-decoration-none" routerLink="/login" style="cursor: pointer;" >Sign In</a>
                    </div>
                </form>
            </div>
             
           
            
        </div>
    </div>

