<div class="container">
    <div class="row py-4 mt-5 border-top text-muted">
        <div class="col-lg-3 col-md-6">
            <h5>
                CONTACT INFO
            </h5>
            <ul class="fs-14 one">
                <li>
                    <a>
                        <i class="fa-solid fa-location-dot"></i>
                        <b>Address</b>
                    </a>
                    <p>123 Park Avenue,<br>
                        New York, United States</p>
                </li>
                <li>
                    <a>
                        <i class="fa-solid fa-phone"></i>
                        <b>Phone</b>
                    </a>
                    <p>
                        +1 631 1234 5678
                       </p>
                </li>
                <li>
                    <a href="mailto:ahmed.hossam.elgamal77@gmail.com">
                        <i class="fa-solid fa-envelope"></i>
                        <b>Email</b>
                    </a>
                    <p>
                        email&#64;website.com
                    </p>
                </li>
            </ul>
          
        </div>
        <div class="col-lg-3 col-md-6">
            <h5>
                CUSTOMER CARE
            </h5>
            <ul class="fs-14">
                <li>
                    <a>
                       About us
                    </a>
                </li>
                <li>
                    <a>
                        Cart
                    </a>
                </li>
                <li>
                    <a >
                      Checkout
                    </a>
                </li>
                <li>
                    <a >
                      Wishlist
                    </a>
                </li>
                <li>
                    <a>
                      Contact
                    </a>
                </li>
            </ul>
          
        </div>
        <div class="col-lg-3 col-md-6">
            <h5>
                INFORMATION
            </h5>
            <ul class="fs-14">
                <li>
                    <a>
                        Track your order
                    </a>
                </li>
                <li>
                    <a>
                        Locate Store
                    </a>
                </li>
                <li>
                    <a>
                        Online Support
                    </a>
                </li>
                <li>
                    <a>
                        Terms & Conditions
                    </a>
                </li>
                <li>
                    <a>
                        Payment
                    </a>
                </li>
            </ul>
          
        </div>
       
        <div class="col-lg-3 col-md-6">
            <h5>
                Subscribe to our Newsletter
            </h5>
            <ul>
                <li>
                    Subscribe to our newsletter and get 10% off your first purchase
                </li>
                <li class="border-bottom border-2 border-dark d-flex justify-content-between ">
                    <input type="email" class="border-0" placeholder="Enter your email here">
                    <a class="fw-bolder text-uppercase">Subscribe</a>
                </li>
                <li>
                    <img src="../../../../assets/images/payment-support.png" alt="payment" class="w-100">
                </li>
            </ul>

        </div>
    </div>
</div>