<div class="container pt-4">
    <div class="row gx-3">
        <section class="col-lg-9 ">
            <div class="article  rounded-2 ">
                <article  class=" text-white">
                    <h1>
                        Great products with best deals
                    </h1>
                    <p>
                        No matter how far along you are in your sophistication as an amateur astronomer, there is always one.
                    </p>
                    <button class="btn bg-main text-white">
                        View more
                    </button>
                </article>
            </div>
       
        </section>
        <section class="col-lg-3">
            <div class="card bg-main rounded-2  w-100 text-center text-white h-100 p-2">
                <img src="../../../../assets/images/gift.png" class="w-50 mx-auto " alt="">
                <h5>
                    Amazing gift
                </h5>
                <p>
                    No matter how far along you are in your sophistication
                </p>
                <button class="btn text-white border-1 border-white rounded-2 mx-auto">
                    View more
                </button>
            </div>
        </section>
    </div>
    <div class="row mt-3 ">
        <div class="col-xs-12 col-md-4 ">
            <div class="d-flex align-items-center justify-content-center border-end prize">
                <div class="icon bg-main text-white">
                    <i class="fa-solid fa-truck-fast"></i>
                 </div>
                <p>Free Shipping & Returns</p>
            </div>
         
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="d-flex align-items-center justify-content-center border-end prize">
                <div class="icon bg-main text-white">
                    <i class="fa-solid fa-award"></i>
                </div>
                <p>Lowest Price Guarantee</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="d-flex align-items-center justify-content-center prize">
                <div class="icon bg-main text-white">
                    <i class="fa-solid fa-trophy"></i>
                </div>
                <p>Longest Warranties Offer</p>
            </div>
        </div>
    </div>
</div>