<div class="cart">
    <div class="d-flex justify-content-between align-items-center  border-bottom header  ">
        <h5 class="fw-bolder">
            Shopping cart
        </h5>
        <button class="border-0 bg-white close text-second">
            Close X
        </button>
    </div>
    <div class=" d-flex flex-column body">
        <div>
            dsdf
            
        </div>
       
    </div>

    <div class="footer  border-top">
        <div class="d-flex justify-content-between">
            <span class="text-uppercase fw-bold">Total:</span>
            <span class="fw-bolder">$272</span>
        </div>
        <button type="button" class="btn bg-main w-100 text-white rounded-5">CheckOut</button>
    </div>
    
</div>