/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

@import 'bootstrap/scss/bootstrap';
$main-color: #ff8100;
$second-color: #444;
html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.text-main {
    color: $main-color !important;
}
.text-second {
    color: $second-color !important;
}
.bg-main {
    background-color: $main-color !important;
}

.color-link {
    color: $second-color;
}
.fav-icon.fav {
    transform: translateX(0) !important;
    background-color: #fb5231;
    color: white;
    z-index: 5555 !important;
    
}