<div class="container">
    <div class="row">
        @for (item of limit(); track $index) {
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" style="padding: 15px 7px; ">
                <div>
                    <ngx-skeleton-loader 
                    count="1"  [theme]="{
                        height: '227px',
                        width: '100%',
                        'border-radius': '0'

                    }" />
                     <ngx-skeleton-loader appearance="line"  [theme]="{
                        'border-radius': '0'

                    }" />
                    <ngx-skeleton-loader appearance="line"  [theme]="{
                        'border-radius': '0'
                    }" />    
                </div>
                <div>
                    <ngx-skeleton-loader  appearance="line" [theme]="{
                        width: '50%',
                        'border-radius': '0',
                         'margin-right': '24%'
                    }" />

                    <ngx-skeleton-loader appearance="circle"  [theme]="{ 
                         height: '40px',
                         border: '1px solid white',
                      }" />
                </div>
            </div>
        }
    </div>
</div>

