nav {
    padding: 30px 12px 0;
}
.actives {
    background-color: #ff8100b3 !important;
    color: white !important;
}
li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    display: block;
    margin-bottom: 2px;
    cursor: pointer;
}
.stars {
    display: inline-block;
    width: fit-content;
    position: relative;
    padding: 0;
    list-style: none;

}
.stars li:first-child {
    position: absolute;
    left:0;
    width: 90%;
    overflow: hidden;
}
p{
    font-size: 14px !important;
    text-wrap: balance;
    line-height: 1.7;
}
.fs-14 {
    font-size: 14px !important;
}
@media (max-width: 992px) {
    .border-start {
        border: 0 !important;
    }
}