<div class="container">
    <div class="row justify-content-between mt-5">
        <div class="col-xs-12 col-sm-4">
            <h4 class="text-second">
                Showing 1 - 20 Products
            </h4>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="d-flex align-items-center justify-content-end">
                <label for="" class="fs-5 me-3">Sort by:</label>
                <select name="" id="" class="form-select w-50">
                    <option value="">Default</option>
                    <option value="">Price: Low to High</option>
                    <option value="">Price: High to Low</option>
                    <option value="">A to Z</option>
                    <option value="">z to A</option>
                </select>    
            </div>
                   
        </div>

    </div>
    <div class="row gy-3 mt-3" 
    infinite-scroll
    [infiniteScrollDistance]="2"
    [infiniteScrollUpDistance]="1.5"
    [infiniteScrollThrottle]="150"
    (scrolled)="onScroll()"
     >
        @for (prod of products(); track $index) {
            <div class="col-xs-12  col-sm-6 col-md-3 col-lg-2" style="padding: 15px 7px; ">
                <app-product [product]="prod"></app-product>
            </div>
        }
        
    </div>
</div>
